@import "material-icons/iconfont/material-icons.css";
@import "material-icons/iconfont/filled.css";
@import "material-icons/iconfont/outlined.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Tambahkan styling tambahan */
.input-md {
    height: 2.6rem;
}

.btn-secondary {
    background-color: #ffe44b;
    border-color: #dbc036;
}

.btn-primary {
    background-color: #00573d;
    border-color: #004a3b;
}
